<template>
  <section class="global">
    <div class="global__main">
      <select>
        <option label="" value="1" selected>Все</option>
        <option>Выполненные</option>
        <option>Не выполненные</option>
      </select>
      <div class="global__lists">
        <p class="global__list">Список дел на отпуск</p>
      </div>
    </div>
    <div class="global__input">
      <input class="global__add" type="text" name="" id="" placeholder="Введите название списка">
      <button class="global__button_add">Добавить список</button>
    </div>
  </section>
</template>

<style scoped>
select {
  margin: 2% 0;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}
.global__main {
  height: 800px;
}
.global {
  outline: 1px solid black;
}
.global__list {
  outline: 1px solid black;
  padding: 3% 0;
}
.global__input {
  max-width: 390px;  
  border-top: 1px solid black;
  margin: 0 auto;
}
.global__add {
  width: 390px;
  font-size: 20px;
  height: 50px;
  border-radius: 15px;
  margin: 5% 0;
}
.global__button_add {
  font-size: 20px;
  height: 60px;
  border-radius: 25px;
  width: 200px;
  margin: 2% 0;
  float: right;
  background-color: white;
}
</style>
