<template>
  <section class="items">
    <h2 class="items__header">Список дел на отпуск</h2>
    <div class="item-wrap">
      <div class="item">
        <input type="checkbox" name="" id="" >
        <div class="item__text-wrap">
          <span class="item__important">
            <img src="../assets/Pinred.png" alt="important" width="20"/>
          </span>
          <p class="item__text">Купить молока</p>
          <time>30.04.2021 21:30</time>
        </div>
      </div>
    </div>
    <div class="items__input">
      <input class="items__add" type="text" name="" id="" placeholder="Введите дело">      
      <label for="imp"> <input type="checkbox" name="important" id="imp"> Срочное</label>
      <button class="items__button_add">Добавить дело</button>
    </div>
  </section>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  margin: 0;
  padding: 0;
}
.items__header {
  font-size: 25px;
}
.items {
  max-width: 950px;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
}
.item-wrap {
  /* height: 735px; */
  flex-grow: 1;
}
.item {
  max-width: 888px;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
}
.item__text-wrap {
  display: flex;
  flex-basis: 95%;
  align-items: center;
  border: 2px solid darkgray;
  height: 40px;
}
.item__text {
  flex-basis: 70%;
  text-align: start;
}
.item__important {
  display: flex;
  align-items: center;
  margin: 0 10px;
  opacity: 0;
}
.items__input {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 880px;
  height: 40px;
  margin: 1% auto;
  padding-top: 5%;
  border-top: 1px black solid;
}
.items__add {
  flex-basis: 52%;
  font-size: 20px;
}
.items__button_add {
  font-size: 20px;
  flex-basis: 25%;
  border-radius: 25px;
  background-color: white;
}
label {
  align-self: center;
}
</style>
