<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view/>
    <section class="main">
      <GlobalList/>
      <Items class="items"/>
    </section>
  </div>
</template>

<script>
import Items from '@/components/Items.vue'
import GlobalList from '@/components/GlobalList.vue'
export default {
  name: 'app',
  components: {
    Items,
    GlobalList
  }
}
</script>
<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  font-size: 20px;
}
.main {
  max-width: 1400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 29% 67%;
  justify-content: space-between;
  margin: 0 auto;
}
</style>
